# Ignore compiled or temp stuff
/temp/
target/
bin/
class/
classes/
*.log

# Talend-specific local state
.Work_MapDB/
.settings/com.oaklandsw.base.projectProps

# You CAN track these (don’t ignore them!)
# DO NOT include these lines:
# process/
# metadata/
# *.item
# *.properties
# .project
# talend.project
